node_modules/
out/
dist/
build/
bin/
*.vsix
*.jar
*.zip

.vscode-test/
.history/
*.log

.gradle/
.idea/
*.iws
*.iml
*.ipr

.DS_Store
Thumbs.db
.env
.env.*
.intellijPlatform/
.kotlin/
jetbrains/src/main/resources/messages/*
jetbrains/src/main/kotlin/deplens/common/I18nKey.kt
vscode/README.md
vscode/docs
vscode/LICENSE
vscode/config

!jetbrains/lib/*.jar